html, body {
    height: 100%;
    /* width: 100%; */
    margin: 0;
    padding: 0;
}

body { 
    background-color:rgb(100, 100, 100);
    color:  brown;  

    font-size: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 150px;

}



button{
    /* border: 15px solid green; */
    padding: 60px;
    font-size: 40px;
    border: none;
    background-color: white;
    cursor:crosshair;
}

button:hover {
    background-color: rgb(255, 237, 237);
}

#knapper {
    background-color: white;

    display: flex;
    justify-content: space-around;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: blue;
    
    padding: 1rem;

}
nav a {
    text-decoration: none; 
    padding: 0.5rem;
    color: rgb(255, 255, 255);
}